.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control{
    margin: 1rem 0;
}
.form-control label,
.form-control input{
    display: block;
    width: 100%;
}
.form-control input{
    border: 2px solid #5bb1eb;
    font: inherit;
    border-radius: 5px;
}
button{
    font:inherit;
    border: 2px solid #5bb1eb;
    background-color: #5bb1eb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
button:hover,
button:active{
    background-color: #306080;
}